<h1>Hello {{name}}, from Vactrack!</h1>
<p>The vaccination {{vaccine}} for {{person}} is due {{date}}.</p>
<p>We recommend that {{person}} should revaccinate with the same vaccine soon.</p>

<p>Regards,</p>
<p>Team VackTrack</p>